
.page-content {
    font-size: 1.5em;
    padding: 10px;
    margin:10px;
    box-shadow: 5px 5px 5px grey;
    max-width: 800px;
}

.choice-panel {
    padding:10px;
    margin:10px;
    max-width: 800px;
}

.newbookmodal {
    position: absolute;
    margin: 50px;
    padding:50px;
    top: 50px;
    left: 50px;
    box-shadow: 0 0 300px black;
    background-color: white;
    opacity: 100%;
}